# Build results
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Mac and Windows system files
.DS_Store
Thumbs.db

# Build logs
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec

# Rider / JetBrains IDE
.idea/
*.iml

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml

# Temporary files
*.tmp
*.temp

# Other
launchSettings.json
